<nav class="navbar navbar-expand-lg navbar-light mb-4 ">
  <div class="container">
    <a class="navbar-brand" routerLink="/questionbank">
      <img class="logo" src="../../assets/Images/logo.svg" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}"
            routerLink="/questionbank">Question Bank </a>
        </li>

        <li class="nav-item ">
          <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}"
            routerLink="/ourjourneys">Our Journeys </a>
        </li>


      </ul>
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{user}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">{{user}}</a>
          <a class="dropdown-item" routerLink="/myprofile"> <img class="mr-3" src="../../assets/Images/Profile.svg" alt="Profile" />
            My Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="onLogout()"><img src="../../assets/Images/Line.svg" class="mr-3"
              alt="logout"> Log Out</a>
        </div>
      </div>
    </div>
  </div>
</nav>
