<div class="heading">
    <h1> Question Bank </h1>
    <!-- <button class="cateBtn" data-toggle="modal" data-target="#exampleModal3"> +Create New Category </button> -->
</div>
<div class="row tri">
    <div class="col-4">
        <div class="trimester">
            <h1>First Trimester</h1>
            <div>
                <p>Added : <a>6 Sections / 38 Questions</a></p>
            </div>
            <button class="editCate" data-toggle="modal" data-target="#exampleModal3">Edit Category</button>
            <button class="duplicateBtn">Duplicate</button>
        </div>
    </div>
    <div class="col-4">
        <div class="trimester">
            <h1>Second Trimester</h1>
            <div>
                <p>Added : <a>6 Sections / 38 Questions</a></p>
            </div>
            <button class="editCate" data-toggle="modal" data-target="#exampleModal3">Edit Category</button>
            <button class="duplicateBtn">Duplicate</button>
        </div>
    </div>
    <div class="col-4">
        <div class="trimester">
            <h1>Third Trimester</h1>
            <div>
                <p>Added : <a>6 Sections / 38 Questions</a></p>
            </div>
            <button class="editCate" data-toggle="modal" data-target="#exampleModal3">Edit Category</button>
            <button class="duplicateBtn">Duplicate</button>
        </div>
    </div>
</div>


<!-- Modal 3 -->


<div class="modal modal1 fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-close"></i>
                </button>
            </div>
            <div class="mBody">
                <p>
                    Aliquet facilisis cras morbi tellus dictumst ornare neque, enim sed. Eget pretium eu mattis.
                </p>
                <div>
                    <label for="week" class="d-block">Category</label>
                    <input type="text" id="week" placeholder="Write here your Category">
                </div>
                <p>Nibh adipiscing dolor, suspendisse pellentesque </p>
                <div class="row">
                    <div class="col-4">
                        <div class="checkboxDiv">
                            <input id="checkbox1" type="checkbox" class="que" />
                            <label for="checkbox1" class="checkbox"></label>
                            <label for="checkbox1" class="checkboxs">1st Month</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="checkboxDiv">
                            <input id="checkbox2" type="checkbox" class="que" />
                            <label for="checkbox2" class="checkbox"></label>
                            <label for="checkbox2" class="checkboxs">2nd Month</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="checkboxDiv">
                            <input id="checkbox3" type="checkbox" class="que" />
                            <label for="checkbox3" class="checkbox"></label>
                            <label for="checkbox3" class="checkboxs">3rd Month</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="checkboxDiv">
                            <input id="checkbox4" type="checkbox" class="que" />
                            <label for="checkbox4" class="checkbox"></label>
                            <label for="checkbox4" class="checkboxs">4th Month</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="checkboxDiv">
                            <input id="checkbox5" type="checkbox" class="que" />
                            <label for="checkbox5" class="checkbox"></label>
                            <label for="checkbox5" class="checkboxs">5th Month</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="checkboxDiv">
                            <input id="checkbox6" type="checkbox" class="que" />
                            <label for="checkbox6" class="checkbox"></label>
                            <label for="checkbox6" class="checkboxs">6th Month</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="checkboxDiv">
                            <input id="checkbox7" type="checkbox" class="que" />
                            <label for="checkbox7" class="checkbox"></label>
                            <label for="checkbox7" class="checkboxs">7th Month</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="checkboxDiv">
                            <input id="checkbox8" type="checkbox" class="que" />
                            <label for="checkbox8" class="checkbox"></label>
                            <label for="checkbox8" class="checkboxs">8th Month</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="checkboxDiv">
                            <input id="checkbox9" type="checkbox" class="que" />
                            <label for="checkbox9" class="checkbox"></label>
                            <label for="checkbox9" class="checkboxs">9th Month</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal">Continue</button>
                <button type="button" class="cancel" data-dismiss="modal">Cancel</button>
            </div>

        </div>
    </div>
</div>
