<div class="short" *ngIf="data.length > 0">
  <div class="heading sec2 animate__animated animate__fadeInUp">
    <h1> Questions in {{cateMonth}} Category </h1>
  </div>
  <div class="cateDiv animate__animated animate__fadeInUp" *ngFor="let curr of data,let i = index">
    <div class="food">
      <h1>{{i + 1}}. {{curr.question}}</h1>
    </div>
    <div>
      <button class="edit editBtn" id="{{curr.id}}" data-toggle="modal" data-target="#exampleModal20"
        (click)="callEdits($event)">Edit</button>
      <button class="delete" id="{{curr.id}}" (click)="deleted($event)">Delete</button>
    </div>
  </div>
</div>
